page-home {

ion-content{
       // background: linear-gradient(to top, #0000ff 0%, #ffffff 100%);
  /*  background-image: url('../../assets/imgs/11111.jpg');
    background-repeat: no-repeat;
     background-position:center;
    background-size: contain;

     */

}



}

.white-card{

    
    background-color: #ffffff;
}

.mapa{
    height: 250px;
}



.color-background{
    background-color: dodgerblue;
    //background-image: "assets/imgs/img1.jpg";
}